h1,
h2,
h3,
h4,
h5,
h6,
.text-center
 {
    width: 100%;
    text-align: center;
}

h1 {
    font-size: 35px;
    text-transform: uppercase;
    padding: 10px 0;
}

h2 {
    font-size: 20px;
}

h3 {
    font-size: 25px;
    text-transform: uppercase;
}

h6 {
    padding: 10px 0;
}

header {
    padding: 50px;
}

/* NAV STYLING */

nav {
    color: white;
    position: fixed;
    width: 100%;
    z-index: 98;
}

nav>span {
    display: flex;
    justify-content: space-between;
    background-color: black;
    position: relative;
    z-index: 99;
}

.brand {
    font-size: 25px;
    padding: 10px;
    margin-left: 15px;
}

.btn {
    margin: 8px;
    background-color: yellow;
    border: 1px solid black;
    border-radius: 6px;
    font-size: 18px;
}

.menu-btn:target .nav-content {
    display: inherit;
}

.nav-content {
    border-top: 2px solid gray;
    display: none;
    animation: menu 1s alternate;
    background-color: black;
}

@keyframes menu {
    0% {
        transform: translateY(-155px);
    }
    100% {
        transform: translateY(0px);
    }
}

li {
    padding: 10px;
    margin-left: 15px;
    text-transform: uppercase;
}

li a {
    color: white;
    text-decoration: none;
}

main
 {
    width: 350px;
    margin: auto;
}


/* SECTION ONE */

#section-1 {
    padding: 125px 0;
}

/* SECTION TWO - SKILLS */

#section-2 {
    background-color: #F8F8F8;
    padding-bottom: 20px;
}

.skill-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1em;
}

.icon {
    font-size: 100px;
}

.icon-wrapper {
    width: 100px;
    margin: auto;
}

/* SECTION THREE - PROJECTS */

#section-3 {
    background-color: #F0F0F0;
    padding-bottom: 20px;
}

main {
    width: 350px;
    margin: auto;
}

.project-grid {
    display: grid;
    grid-gap: 1em;
}

.project {
    border: 5px solid black;
    margin: auto;
    position: relative;
    overflow: hidden;
    width: 325px;
    height: 325px;
}

.project-content:hover {
    opacity: 1;
}

.title-project {
    width: 295px;
    background-color: black;
    color: white;
    bottom: 0;
    bottom: 0px;
    position: absolute;
    padding: 15px;
    z-index: 10;
}

.project-content {
    background-color: rgb(49, 49, 49);
    width: 100%;
    height: 100%;
    position: absolute;
    bottom: 0;
    z-index: 11;
    color: white;
    overflow-y: scroll;
    opacity: 0;
    transition-property: opacity;
    transition-duration: .5s;
}

.project-content p {
    width: 285px;
    margin: auto;
    text-align: center;
}

/* SECTION FOUR - ABOUT */

#section-4 {
    background-color: #F8F8F8;
    padding-bottom: 20px;
}

/* SECTION FIVE - CONTACT */

.contact-grid {
    display: grid;
    grid-template-columns: 1fr 1fr;
    grid-gap: 1rem;
    padding: 10px;
    border: 1px solid gray;
    border-radius: 6px;
    margin-bottom: 50px;
}

input,
textarea {
    border: 2px solid black;
    border-radius: 6px;
    padding: 5px;
}

.message-area {
    grid-column: 2/3;
    grid-row: 1/4;
}

.contact-grid span {
    grid-column: 1/3;
    display: flex;
    justify-content: center;
}

@media (min-width: 767px) {

.menu-btn {
    display: none;
}

nav {
    display: grid;
    grid-template-columns: 1fr 1fr;
}

.nav-content {
    display: block;
}


}